.container{
   height: 100vh;
   background-color: aqua; 
}

.sidenav{
    width: 15rem;
    color: black;
    background-color: white;
}

.sidenav a {
    margin-right: .6rem;
    margin-top: 6rem;
}

.menu{
    margin: 1rem 0 0 1rem;
}