<h2 mat-dialog-title>Resumo das alterações</h2>
<mat-dialog-content class="mat-typography">
    <div class="infos">
        <div class="infos__row">
            <div class="infos__item infos__header infos__header--border-top-left">Antes</div>
            <div class="infos__item infos__header infos__header--border-top-right">Depois</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Nome:</strong> {{data.originalUser.name}} </div>
            <div class="infos__item"><strong>Nome:</strong> {{data.updatedUser.name}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Nome:</strong> {{data.originalUser.email}} </div>
            <div class="infos__item"><strong>Nome:</strong> {{data.updatedUser.email}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Nome:</strong> {{data.originalUser.password}} </div>
            <div class="infos__item"><strong>Nome:</strong> {{data.updatedUser.password}}</div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirmar</button>
</mat-dialog-actions>